In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\mabel\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mabel\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mabel\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mabel\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.0 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.0 kB ? eta -:--:--
     -------------------------------------- 61.0/61.0 kB 819.4 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mabel\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\mabel\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.6 MB 4.3 MB/s eta 0:00:03
   - -------------------------------------- 0.4/11.6 MB 5.1 MB/s eta 0:00:03
   -- ------------------------------------- 0.7/11.6 MB 5.7 MB/s eta 0:00:02
   ---- ----------------------------------- 1.2/11.6 MB 7.8 MB/s eta 0:00:02
   ---- ----------------------------------- 1.5/11.6 MB 7.1 MB/s eta 0:00:02
   ------- -------------------------------- 2.2/11.6 MB 8.3 MB/s eta 0:00:02
   -------- ------------------------------- 2.5/11.6 MB 7.6 MB/s eta 0:00:02
   ---------- ----------------------------- 3.2/11.6 MB 8.5 MB/s eta 0:00:01
   ------------ --------------------------- 3.6/11.6 MB 8.8 MB/s eta 0:00:01
   ------------- -------------------------- 4.0/11.6 MB 8.5 MB/s eta 0:00:01
   --------------- ------------------------ 4.5/11.6 MB 9.0 MB/s eta 0:00:01
   ---------------- ----------------------- 4.9/11.6 MB 8.9 MB/s eta 0:00:01
   ------------------ --------------------- 5.5/11.6 MB 9.2 MB/s eta 0:00:01
   ------------------- -------------------- 5.8/11.6 MB 9.2 MB/s eta 0:00:01
   ---------------------- ----------------- 6.4/11.6 MB 9.3 MB/s eta 0:00:01
   ----------------------- ---------------- 6.8/11.6 MB 9.5 MB/s eta 0:00:01
   ------------------------ --------------- 7.2/11.6 MB 9.5 MB/s eta 0:00:01
   ------------------------- -------------- 7.5/11.6 MB 9.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.8/11.6 MB 9.3 MB/s eta 0:00:01
   --------------------------- ------------ 8.1/11.6 MB 9.3 MB/s eta 0:00:01
   ----------------------------- ---------- 8.5/11.6 MB 9.2 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 9.0 MB/s eta 0:00:01
   ------------------------------- -------- 9.2/11.6 MB 9.1 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 9.1 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.6 MB 9.0 MB/s eta 0:00:01
   ----------------------------------- ---- 10.3/11.6 MB 9.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 9.6 MB/s eta 0:00:01
   -------------------------------------- - 11.2/11.6 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 8.8 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   - -------------------------------------- 0.4/15.8 MB 13.2 MB/s eta 0:00:02
   -- ------------------------------------- 0.9/15.8 MB 11.4 MB/s eta 0:00:02
   --- ------------------------------------ 1.4/15.8 MB 9.9 MB/s eta 0:00:02
   ---- ----------------------------------- 1.9/15.8 MB 9.9 MB/s eta 0:00:02
   ----- ---------------------------------- 2.2/15.8 MB 10.1 MB/s eta 0:00:02
   ------ --------------------------------- 2.7/15.8 MB 10.7 MB/s eta 0:00:02
   -------- ------------------------------- 3.2/15.8 MB 10.1 MB/s eta 0:00:02
   --------- ------------------------------ 3.6/15.8 MB 10.1 MB/s eta 0:00:02
   ---------- ----------------------------- 4.1/15.8 MB 10.0 MB/s eta 0:00:02
   ----------- ---------------------------- 4.5/15.8 MB 9.9 MB/s eta 0:00:02
   ------------ --------------------------- 4.9/15.8 MB 9.9 MB/s eta 0:00:02
   -------------- ------------------------- 5.6/15.8 MB 9.9 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/15.8 MB 9.9 MB/s eta 0:00:01
   ---------------- ----------------------- 6.5/15.8 MB 9.9 MB/s eta 0:00:01
   ------------------ --------------------- 7.1/15.8 MB 9.9 MB/s eta 0:00:01
   ------------------- -------------------- 7.6/15.8 MB 10.1 MB/s eta 0:00:01
   -------------------- ------------------- 8.1/15.8 MB 10.1 MB/s eta 0:00:01
   -------------------- ------------------- 8.3/15.8 MB 10.0 MB/s eta 0:00:01
   ---------------------- ----------------- 8.8/15.8 MB 10.0 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.8 MB 9.8 MB/s eta 0:00:01
   ------------------------ --------------- 9.7/15.8 MB 10.0 MB/s eta 0:00:01
   ------------------------- -------------- 10.2/15.8 MB 10.0 MB/s eta 0:00:01
   --------------------------- ------------ 10.7/15.8 MB 10.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.3/15.8 MB 10.1 MB/s eta 0:00:01
   ----------------------------- ---------- 11.5/15.8 MB 9.8 MB/s eta 0:00:01
   ------------------------------ --------- 12.0/15.8 MB 10.1 MB/s eta 0:00:01
   ------------------------------- -------- 12.3/15.8 MB 9.8 MB/s eta 0:00:01
   ------------------------------- -------- 12.5/15.8 MB 9.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.9/15.8 MB 9.4 MB/s eta 0:00:01
   --------------------------------- ------ 13.3/15.8 MB 9.2 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.8 MB 9.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.3/15.8 MB 9.5 MB/s eta 0:00:01
   ------------------------------------- -- 14.8/15.8 MB 9.5 MB/s eta 0:00:01
   -------------------------------------- - 15.3/15.8 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 8.3 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   ---------------------- ----------------- 286.7/505.5 kB 8.9 MB/s eta 0:00:01
   ---------------------------------------- 505.5/505.5 kB 8.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [8]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\mabel\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.26.4)

In [9]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

CREAMOS LA BASE DE DATOS

In [10]:
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host='localhost',  # o 'localhost'
    port=3306
)


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE proyecto_peliculas")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 


cnx.close()

1007 (HY000): Can't create database 'proyecto_peliculas'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'proyecto_peliculas'; database exists

CREAMOS LAS TABLAS

Tabla: Detalles de peliculas

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE detalles_peliculas (Pelicula_id VARCHAR (50) PRIMARY KEY,  Nombre VARCHAR(100), Director VARCHAR(50), Guionista VARCHAR (250), Argumento TEXT, Duración MEDIUMINT, Puntuación_IMDb FLOAT, puntuacion_rt FLOAT)")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 


cnx.close()

1050 (42S01): Table 'detalles_peliculas' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'detalles_peliculas' already exists

Tabla: Premios Oscar

In [4]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE premios_oscar (oscar_id SMALLINT AUTO_INCREMENT PRIMARY KEY, fecha_ceremonia YEAR, mejor_pelicula VARCHAR(100), mejor_director VARCHAR(50), mejor_actor VARCHAR(50), mejor_actriz VARCHAR(50))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

1050 (42S01): Table 'premios_oscar' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'premios_oscar' already exists

Tabla: Generos

In [6]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE generos (genero_id SMALLINT AUTO_INCREMENT PRIMARY KEY, nombre_genero VARCHAR (30))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

1050 (42S01): Table 'generos' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'generos' already exists

Tabla: Peliculas

In [3]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE peliculas (Tipo  VARCHAR (30), Género  VARCHAR (30), Título VARCHAR(255), Mes SMALLINT, Año INT, ID_IMDB VARCHAR(255) PRIMARY KEY )")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

MySQLCursor: CREATE TABLE peliculas (Tipo  VARCHAR (3..

Tabla: Peliculas_Genero

In [25]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE peliculas_generos (pelicula_id INT , genero_id SMALLINT, FOREIGN KEY (pelicula_id) REFERENCES peliculas(pelicula_id), FOREIGN KEY (genero_id) REFERENCES generos(genero_id))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

MySQLCursor: CREATE TABLE peliculas_generos (pelicula..

Tabla: Actores

In [27]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE TABLE actores (actor_id INT AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(100) ,año_nacimiento YEAR, que_hace VARCHAR (255), conocido_por VARCHAR (1000), premios VARCHAR (1000), ID_IMDB VARCHAR(255))")
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)


cnx.close()

MySQLCursor: CREATE TABLE actores (actor_id INT AUTO_..

INSERTAR DATOS EN LAS TABLAS

In [7]:
from sqlalchemy import create_engine

Datos Tabla: Peliculas

In [21]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()

# Leer el archivo CSV
data = pd.read_csv (r"C:\Users\silvi\Desktop\Adalab\project-da-promo-H-module-2-team-Interstellar\API\CSVs\Todas_pelis_generos_API_2010_2024.csv")

# Crear la conexión a la base de datos usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/proyecto_peliculas')

# Insertar los datos del DataFrame en la tabla MySQL
data.to_sql('peliculas', engine, if_exists='append', index=False)

print("Datos insertados exitosamente")

Datos insertados exitosamente

Datos Tabla: Premios Oscar

In [8]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()

# Leer el archivo CSV
data = pd.read_csv (r"C:\Users\silvi\Desktop\Adalab\project-da-promo-H-module-2-team-Interstellar\BEAUTIFULSOUP\CSVs\oscars.csv")

# Crear la conexión a la base de datos usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/proyecto_peliculas')

# Insertar los datos del DataFrame en la tabla MySQL
data.to_sql('premios_oscar', engine, if_exists='append', index=False)

print("Datos insertados exitosamente")

Datos insertados exitosamente

Datos Tabla: Detalles Pelis

In [14]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()

# Leer el archivo CSV
data = pd.read_csv (r"C:\Users\silvi\Desktop\Adalab\project-da-promo-H-module-2-team-Interstellar\SELENIUM\CSVs\FASE-2-Resultados-IMDB.csv")

# Crear la conexión a la base de datos usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/proyecto_peliculas')

# Insertar los datos del DataFrame en la tabla MySQL
data.to_sql('detalles_peliculas', engine, if_exists='append', index=False)

print("Datos insertados exitosamente")

Datos insertados exitosamente

Datos Tabla: Generos

In [19]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='BD_pruebas')


mycursor = cnx.cursor()
sql = "INSERT INTO generos (nombre_genero) VALUES (%s)"
val = [
    ("Acción",
     "Comedia",
     "Drama")]
try: 
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)  


#############################################################################################################

########### FINALMENTE SE HIZO DIRECTAMENTE DESDE MYSQL CON EL CODIGO DEL MARKDOWN DE ABAJO ############ 

#############################################################################################################

Not all parameters were used in the SQL statement
Error Code: -1
SQLSTATE None
Message Not all parameters were used in the SQL statement

Datos Tabla: Actores

In [36]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1', database='proyecto_peliculas')


mycursor = cnx.cursor()

# Leer el archivo CSV
data = pd.read_csv (r"C:\Users\silvi\Desktop\Adalab\project-da-promo-H-module-2-team-Interstellar\SELENIUM\CSVs\Actores\tuplas_actores_id_peli.csv")

# Crear la conexión a la base de datos usando SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/proyecto_peliculas')

# Insertar los datos del DataFrame en la tabla MySQL
data.to_sql('actores', engine, if_exists='append', index=False)

print("Datos insertados exitosamente")

Datos insertados exitosamente

INSERT INTO generos (nombre_genero)
VALUES ('Accion'),
	   ('Comedia'),
	   ('Drama');

CONSULTAS: ¿directamente en MySQL?

In [1]:
###### ESTRUCTURA DE LAS QUERIES ####

# cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
#                               host='127.0.0.1',
#                               database='proyecto_peliculas')

# # iniciamos el cursor                               
# mycursor = cnx.cursor()

# # query de ejemplo:

# query = ("""SELECT        """)

# # luego llamamos al método execute() del cursor, al que pasamos como argumento el string que contiene la consulta.
# ## De esta manera se ejecuta la consulta en la base de datos y si todo va correctamente, el resultado se almacenará en el cursor.
# mycursor.execute(query)

Desconexion

In [ ]:
# config = {
#   'user': 'root',
#   'password': 'AlumnaAdalab',
#   'host': '127.0.0.1',
#   'database': 'tienda',
#   'raise_on_warnings': True
# }

# cnx = mysql.connector.connect(**config)

# cnx.close()